.header {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 1em;
}
.header__myname {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px dotted rgb(0, 0, 0);
  font-size: smaller;
}
.header__logogit {
  width: 8%;
  padding-top: 0.5em;
}
.header__avatar {
  display: flex;
  align-self: center;
  width: 15%;
  padding-top: 0.7em;
}
.header__avatarsize {
  width: 100%;
}
